<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <!-- The ApplicationUrlRedirector Filter -->
    <filter>
        <filter-name>ApplicationUrlRedirector</filter-name>
        <filter-class>is.idega.idegaweb.egov.application.servlet.filter.ApplicationUrlRedirector</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ApplicationUrlRedirector</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>