iframe {
	border: 0;
}

/* Headers */
h1.subHeader {
	border-top: 1px #a4a4a4 solid;
	border-bottom: 1px #a4a4a4 solid;
}

h1.applicationHeading {
	display: none;	
}

h1.subHeader.topSubHeader {
	border-top: 0;
}

div.header {
	margin-bottom: 24px;
}

/* Phases */
div.phases {
	position: absolute;
	top: 0px;
	right: 0px;
}

div.phases ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.phases ul li {
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px #a8a8a8 solid;
	text-align: center;
	display: inline;
	float: left;
	margin-right: 4px;
}

div.phases ul li.current {
	font-weight: bold;
}

div.helperText {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 13px;
	right: 15px;
	width: 250px;
	font-size: 11px;
	text-shadow: none;
	line-height: 1.2em;
}

.citizenForm .helperText {
	display: block;						!important;
}


/* Personal info */
div.info {
	height: 62px;
	background: #ABBAC3;
	padding: 13px 15px;
}

div.info div.helperText {
	float: right;
	position: relative;
	top: 0;
	right: 0;
	margin-top: 16px;
}

div.info h1 {
	margin: 0;
	font-size: 12px;
}

div.info div#name, div.info div#personalID {
	font-size: 14px;
}

div.info div#name {
	float: left;
}

div.info div#address, div.info div#postal {
	clear: left;
}

div.info div#personalID {
	float: right;
}

div.info div#phone, div.info div#email {
	float: right;
	clear: right;
}

/* General form styles */
div.formSection {
	clear: left;
	position: relative;
}

html>body div.formSection {
	overflow: hidden;	
}

div.formSection textarea {
	width: 500px;
	height: 60px;
	clear: both;
}

div.formSection p {
	clear: both;
	margin-top: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
}

form.citizenForm div.formSection p {
	margin-top: 0;
	margin-bottom: 16px;
}

div.formSection p.agreement {
	margin-top: 0;
	margin-bottom: 16px;
}

div.formItem {
	clear: both;
	width: 100%;
	overflow: hidden;
	margin-bottom: 12px;
}

div.formItem span {
	float: left;
	margin-bottom: 8px;
}

div.checkboxSection div.formItem {
	clear: none;
}

div.info div.formItem {
	margin-top: 20px;
}

div.formItem label {
	float: left;
	width: 160px;
	font-weight: bold;
	color: #222222;
}

.formSectionTitle {
	float: left;
	width: 160px;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #222222;
}

div.info div.formItem label {
	padding-top: 0;
}

div.checkboxSection div.formItem label {
	width: auto;
	margin-right: 30px;
	margin-left: 5px;
}

div.formItem input, div.formItem textarea, div.formItem select {
	float: left;
	margin: 0;
	margin-right: 20px;
}

div.checkboxSection div.formItem input {
	margin-right: 0;
}

div.formItem input {
	width: 166px;
}

div.formItem select {
	width: 166px;
}

div.formItem textarea {
	width: 352px;
	height: 80px;
	clear: none;
}

div.formItem input.checkbox {
	width: auto;
}

div.formItem input.radiobutton {
	width: auto;
}

div.formItem input.button {
	width: auto;
}

div.formItem select.secondInput {
	margin-left: 8px;
}

div.radioButtonItem label {
	padding-top: 0;
}


div.bottom {
	padding-right: 17px;
	padding-left: 17px;
	padding-top: 16px;
	text-align: right;
	height: 49px;
	background: url(images/bottom_tiler.gif) repeat-x #AEBCC5;
}

div.bottom a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #21262D;
	padding-top: 7px;
	text-align: center;
	display: block;
	float: right;
	font-size: 18px;
	font-weight: bold;
	height: 26px;
}

div.bottom a:hover {
	color: #571900;
}

div.bottom a.buttonNext {
	width: 84px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/button_next.png',sizingMethod='scale');
}

div.bottom a.buttonNext:hover {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/button_next_hover.png',sizingMethod='scale');
}

html>body div.bottom a.buttonNext {
	background: url(images/button_next.png) no-repeat;
	filter: none;	
}

html>body div.bottom a.buttonNext:hover {
	background-image: url(images/button_next_hover.png);
	filter: none;	
}

div.bottom a.buttonBack {
	padding-right: 6px;
	width: 96px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/button_back.png',sizingMethod='scale');
}

div.bottom a.buttonBack:hover {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/button_back_hover.png',sizingMethod='scale');
}

html>body div.bottom a.buttonBack {
	background: url(images/button_back.png) no-repeat;
	filter: none;	
}

html>body div.bottom a.buttonBack:hover {
	background-image: url(images/button_back_hover.png);
	filter: none;	
}

div.bottom a.buttonCancel {
	float: left;
	width: 115px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/button_cancel.png',sizingMethod='scale');
}

div.bottom a.buttonCancel:hover {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/button_cancel_hover.png',sizingMethod='scale');
}

html>body div.bottom a.buttonCancel {
	background: url(images/button_cancel.png) no-repeat;
	filter: none;	
}

html>body div.bottom a.buttonCancel:hover {
	background-image: url(images/button_cancel_hover.png);
	filter: none;	
}

div.bottom a:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
}

div.bottom a.button {
	float: right;
	margin-top: 0;
	padding-top: 0;
	height: 33px;
	margin-left: 12px;
}

div.bottom a.button span {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #21262D;
	text-align: center;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

div.bottom a.button:hover span {
	color: #571900;
}

div.bottom a.button span span {
	float: left;
}

div.bottom a.buttonHome {
	float: left;
}

div.bottom a.button span.buttonSpan span.left, div.bottom a.button span.buttonSpan span.middle, div.bottom a.button span.buttonSpan span.right {
	width: 7px;
	height: 33px;
}

div.bottom a.button span.buttonSpan span.middle {
	background: url(images/buttons/middle.png) repeat-x;
	width: auto;
	padding: 0 9px;
	padding-top: 6px;
}

div.bottom a.button span.buttonSpan span.left {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/left.png',sizingMethod='scale');
}

html>body div.bottom a.button span.buttonSpan span.left {
	filter: none;
	background: url(images/buttons/left.png) no-repeat;
}

div.bottom a.button span.buttonSpan span.right {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/right.png',sizingMethod='scale');
}

html>body div.bottom a.button span.buttonSpan span.right {
	filter: none;
	background: url(images/buttons/right.png) no-repeat;
}

div.bottom a.button:hover span.buttonSpan span.middle {
	background: url(images/buttons/middle_hover.png) repeat-x;
}

div.bottom a.button:hover span.buttonSpan span.left {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/left_hover.png',sizingMethod='scale');
}

html>body div.bottom a.button:hover span.buttonSpan span.left {
	filter: none;
	background: url(images/buttons/left_hover.png) no-repeat;
}

div.bottom a.button:hover span.buttonSpan span.right {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/right_hover.png',sizingMethod='scale');
}

html>body div.bottom a.button:hover span.buttonSpan span.right {
	filter: none;
	background: url(images/buttons/right_hover.png) no-repeat;
}


/* Receipt */

div.receipt, div.stop {
	margin: 26px 38px;
	color: #222222;
	font-size: 12px;
	height: 69px;
}

html>body div.receipt, html>body div.stop {
	height: auto;
	min-height: 69px;
}

div.receiptImage, div.stopImage {
	width: 48px;
	height: 68px;
	float: left;
	margin-right: 20px;
	background: url(images/receipt.png) no-repeat;
}

div.receipt h1, div.stop h1 {
	font-weight: normal;
	color: #8D8D8D;
	margin: 0;
	padding: 0 0 9px 0;
}

div.errorLayer {
	border-bottom: 1px #ccc solid;
	padding: 10px;
	height: 68px;
	background: url(images/error_tiler.gif) repeat-x top left #ffedb2;
}

html>body div.errorLayer {
	height: auto;
	min-height: 68px;
}

div.errorLayer div.errorImage {
	width: 48px;
	height: 68px;
	background: url(images/error_image.png) no-repeat;
	float: left;
	margin-right: 20px;
}

div.errorLayer h1 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #3F3F3E;
}

div.errorLayer ul {
	margin: 0;
	padding: 0;
	margin-top: 8px;
	margin-left: 78px;
	list-style-position: inside;
}

div.errorLayer ul li {
	font-size: 12px;
	color: #3F3F3F;
	margin-bottom: 3px;
}

span.required {
	padding-left: 2px;
	color: #f00;
}

div.errors, span.error {
	font-size: 11px;
	font-weight: bold;
	color: #f00;
}


/* General */
.Clear{
	clear: both;
	border-top: 1px solid #fff;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

.appTypeHandlerContainer, .appTypeHandlerContainer div {
	clear: both;
	display: block;
}

/* Application editor */
table.adminTable, form.adminForm {
	margin-top: 16px;
}

table.adminTable tr td, table.adminTable tr th {
	padding: 5px 8px;
	empty-cells: show;
	text-align: left;
	white-space: nowrap;
}

table.adminTable tfoot tr td {
	font-weight: bold;
}

table.adminTable .ageFrom, table.adminTable .ageTo, table.adminTable .electronic, table.adminTable .requiresLogin, table.adminTable .new_window, table.adminTable .url {
	display: none;
}

table.adminTable thead tr th {
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}

table.adminTable tbody tr td {
	border-bottom: 1px #ccc solid;
}

table.adminTable tbody tr.ruled {
	background: #dfdfdf;
}